<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
<listeners>
	<listener class-name="Valiram.Utility.Listeners"/>
</listeners>  
  
  <test thread-count="5" name="Filter">
    <classes>
      <class name="Valiram.SerenityDemo.Filter"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Login">
    <classes>
      <class name="Valiram.SerenityDemo.Login"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="WorkLog">
    <classes>
      <class name="Valiram.SerenityDemo.WorkLog"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->








  